[Unit]
Description=watermeter
After=multi-user.target

[Service]
User=pi
Group=pi
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/watermeter/watermeter.py

[Install]
WantedBy=multi-user.target
